<!DOCTYPE html>
<html lang="en" >
<head>
    <script src="https://unpkg.com/scrollreveal@4"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
            /* utility */
      html.sr .load-hidden {
        visibility: hidden;
      }
      body
      {
        background-color: #edf6ff;
      }

        html {
            position: relative;
            min-height: 100%;
        }
        body {
            margin: 0;
            padding-bottom: 100px; /* Height of the footer */
        }
        footer.footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            background-color: #001035;
            color: white;
            padding: 20px 0;
        }
        .cobal-blue
        {
          color: #0183ff;
        }
        .bg-cobalt-blue
        {
          background-color: #0183ff;
        }
        .feature-icon {
          width: 4rem;
          height: 4rem;
          border-radius: .75rem;
        }

        .icon-square {
          width: 3rem;
          height: 3rem;
          border-radius: .75rem;
        }

        .text-shadow-1 { text-shadow: 0 .125rem .25rem rgba(0, 0, 0, .25); }
        .text-shadow-2 { text-shadow: 0 .25rem .5rem rgba(0, 0, 0, .25); }
        .text-shadow-3 { text-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .25); }

        .card-cover {
          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover;
        }

        .feature-icon-small {
          width: 3rem;
          height: 3rem;
        }
        .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }


      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }

      .btn-bd-primary {
        --bd-violet-bg: #712cf9;
        --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

        --bs-btn-font-weight: 600;
        --bs-btn-color: var(--bs-white);
        --bs-btn-bg: var(--bd-violet-bg);
        --bs-btn-border-color: var(--bd-violet-bg);
        --bs-btn-hover-color: var(--bs-white);
        --bs-btn-hover-bg: #6528e0;
        --bs-btn-hover-border-color: #6528e0;
        --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
        --bs-btn-active-color: var(--bs-btn-hover-color);
        --bs-btn-active-bg: #5a23c8;
        --bs-btn-active-border-color: #5a23c8;
      }

      .bd-mode-toggle {
        z-index: 1500;
      }

      .bd-mode-toggle .dropdown-menu .active .bi {
        display: block !important;
      }
      .hover-effect {
        -ms-transform: scale(1); /* IE 9 */
        -webkit-transform: scale(1); /* Safari 3-8 */
        transform: scale(1);
        transition: transform 0.3s ease; 
        border: none;
      }

      .hover-effect:hover {
          -ms-transform: scale(1.5); /* IE 9 */
          -webkit-transform: scale(1.5); 
          transform: scale(1.09);
      }

      /* extension */
      html.sr .widget {
        visibility: hidden;
      }
    </style>
</head>
<body>


  <!--============= Navigation Section ===========================-->

  <header class="p-3 mb-3 border-bottom shadow-sm sticky-top" style="background-color: white;" >
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center ">
          <a href="Candidate_Home" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">

              <img src="/assets/home_logo.png" style="height: 45px; " >

          </a>
  
          <ul class="nav nav-underline col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 widget-list" >
            <li class="widget"><a href="Candidate_Dashboard" class="nav-link px-2 link-body-emphasis" >Dashboard</a></li>
            <li class="widget"><a href="Candidate_Log" class="nav-link px-2 link-body-emphasis">Interview Log</a></li>
            <li class="widget"><a href="#" class="nav-link px-2 link-body-emphasis">Prepare</a></li>
            <li class="widget"><a href="#" class="nav-link px-2 link-body-emphasis">Smart Features</a></li>
          </ul>
  
          <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
            <div class="btn-group">
              <button style="background-color: white; color: #0183ff; border: none;" class="btn btn-secondary btn-sm dropdown-toggle  shadow  position-relative rounded-circle p-2" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-bell"></i>
              </button>
              <!-- <ul class="dropdown-menu">
                <% for(let i of Candidate_details.Notifications) {%>
                
                  <% if(i.Category==="creation") { %>
                  <li>
                  <div class="alert alert-info alert-dismissible fade show" role="alert" style="width: 20rem;">
                    <strong>: <%= i.Created_By %>,</strong><br> <%= i.Description %>.
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                </li>
                <% } else if(i.Category === "cancel") { %>
                  <li>
                    <div class="alert alert-danger alert-dismissible fade show" role="alert" style="width: 20rem;">
                      <strong>: <%= i.Created_By %>,</strong><br> <%= i.Description %>.
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                  </li>
                <% } else { %>
                  <li>
                    <div class="alert alert-success alert-dismissible fade show" role="alert" style="width: 20rem;">
                      <strong>: <%= i.Created_By %>,</strong><br> <%= i.Description %>.
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                  </li>
                <% } }%>

              </ul> -->
            </div>
          </form>

  
          <div class="dropdown text-end">
            <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="assets/db_icon.png" alt="mdo" width="32" height="32" class="rounded-circle">
            </a>
            <ul class="dropdown-menu text-small">
              <li><a class="dropdown-item" href="/Candidate_Profile">Profile</a></li>
              <li><a class="dropdown-item" href="#">Settings</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/logout">Sign out</a></li>
            </ul>
          </div>
        </div>
      </div>
    </header>

    <!--============= Navigation Section Ends ===========================-->



    <!--======================== Hero Section starts==============================-->
    <br>
    <main>
      <div class="px-4 py-5 my-5 text-center">
        <img class="d-block mx-auto mb-4" src="assets/db_logo.png" alt="" height="200" width="200">
        <h1 class="display-3 fw-bold">Designed for 
          <a href="" style="text-decoration: none; color: #0183ff;" class="typewrite" data-period="3000" data-type='[ "Interviews", "Smart Reports", "Recommendations", "@Darwinview." ]'>
            <span class="wrap"></span>
          </a>
        </h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">Introducing the Darwinview for Candidates which enable either students or for working professionals an smart interview experience. Leveraging Artificial Intelligence indulging into online interviews, candidate get report on various parameters in seconds. </p>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">

            <div class="d-inline-flex gap-2 mb-5 ">
              <a href="#summary"><button class=" icon-link-hover d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill" type="button">
                Explore
                <i class="bi bi-arrow-right-short"></i>     
              </button></a>
              <a href="/"><button class="btn btn-outline-secondary btn-lg px-4 rounded-pill " type="button">
                Getting Started <i class="bi bi-magic"></i>           
              </button></a>
            </div>   

          </div>
        </div>
      </div>

    </main>


    <!--============================ Hero Section Ends ===============================-->

    

    <!--============================ Summary Section Starts ==========================-->

    <div class="container col-xxl-8 px-5 py-3 rounded-5" id="summary" style="background-color: white;">
      <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
          <img src="assets/dv_vc.gif" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes"loading="lazy" >
        </div>
        <div class="col-lg-6">
          <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Intelligent Interview System (IIS)</h1>
          <p class="lead">IIS enhances the candidate interview experience by tailoring AI-powered report extracted from candidate speech & vision. Report consists of various parameretes such as sentimental analysis, confidence rate, correctness, skill recommendations etc, thus candidate get end-to-end analysis throughout the interview.</p>
          <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <a href="#features_area"><button type="button" class="widget btn btn-outline-secondary btn-lg px-4">Explore Features</button></a>
          </div>
        </div>
      </div>
    </div>

    <!--============================ Summary Section Ends ============================-->


    <!--============================= Arrow Area starts ==============================-->

    <div class="d-flex flex-row justify-content-center" style="margin-bottom: -7%; margin-top: -4%;">
      <div class="p-2">
          <img src="assets/arrow.png"  alt="...">
      </div>
    </div>

    <!--============================= Arrow Area Ends ==============================-->


    <!--================================ Features Starts =============================-->

<br>
    <div class="container py-5" id="features_area" >
        
      <div class="row row-cols-1 row-cols-md-2 align-items-center rounded-5 g-5 py-5 px-4"style="background-color: #0183ff;"  >
        <div class="col d-flex flex-column align-items-start gap-2 py-4 px-5 rounded-5"  >
          <h2 class="fw-bold text-body-emphasis"><span style="color: white;">Unveiling the finest features of Darwinview</span></h2>
          <p class="text-body-secondary"><span style="color: white;">Mentioned features are specially crafted by Artificial Intelligence using GPT-4/Gemini engines to design finest report for the candidate.</span></p>
          <a href="/" class="btn btn-lg border" style="color: white;">Experience Now</a>
        </div>
  
        <div class="col p-5 rounded-5 shadow " style="background-color: white; ">
          <div class="row row-cols-1 row-cols-sm-2 g-4 widget-list">

            <div class="col d-flex flex-column gap-2 widget">
              <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                <i class="bi bi-speedometer2"></i>
              </div>
              <h4 class="fw-semibold mb-0 text-body-emphasis">Relevance Rate</h4>
              <p class="text-body-secondary">Relevance percentange based on recruiter query & candidate response with correctness metric.</p>
            </div>
  
            <div class="col d-flex flex-column gap-2 widget">
              <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                <i class="bi bi-clipboard-data"></i>
              </div>
              <h4 class="fw-semibold mb-0 text-body-emphasis"> Smart Analysis</h4>
              <p class="text-body-secondary">AI Powered analysis including sentiment & entity analysis of candidate, also get analysis of how recruiter felt during interview.</p>
            </div>
  
            <div class="col d-flex flex-column gap-2 widget">
              <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                <i class="bi bi-bookmark-check-fill"></i>
              </div>
              <h4 class="fw-semibold mb-0 text-body-emphasis text-break">Recommendations</h4>
              <p class="text-body-secondary">Get AI-Powered feedback post the interview including skills & topics for refinement of candidate along with communicational language usage.</p>
            </div>
  
            <div class="col d-flex flex-column gap-2 widget">
              <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                <i class="bi bi-graph-up-arrow"></i>
              </div>
              <h4 class="fw-semibold mb-0 text-body-emphasis">Dashboard</h4>
              <p class="text-body-secondary">Get the overall interview statistics in single dashboard with user friendly experience.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <!--================================ Features Ends ===============================-->

    <!--======================== Dashboard Preview Starts ===============================-->
    <div class="px-4 pt-5 my-5 text-center border-bottom">
      <h1 class="display-4 fw-bold text-body-emphasis">Exclusive <span style="background-color: #0183ff; color: white;" class="p-1 rounded-3">Dashboard</span></h1>
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Candidates can easily track their overall reports in a AI-Enhanced Dashboard which will keep you updated at every point of time to get ready for interview.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
          <a href="/"><button type="button" class="btn btn-outline-secondary btn-lg px-4 widget">Go to Dashboard</button></a>
        </div>
      </div>
      <div class="overflow-hidden" style="max-height: 30vh;">
        <div class="container px-5">
          <img src="assets/Dashboard.png" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
        </div>
      </div>
    </div>

    <!--======================== Dashboard Preview Ends ===============================-->


    <!--============================== Also Visit Starts =============================-->

    <div class="container px-4 py-5" id="custom-cards">
      <h2 class="pb-2 border-bottom">Also Visit <i class="bi bi-send" style="color: #0183ff;"></i></h2>
  
      <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5 widget-list">
        <div class="col widget">
          <a href="/" style="text-decoration: none;">
          <div class="card card-cover h-100 overflow-hidden rounded-4 shadow-lg hover-effect" style="background-image: url('assets/cobalt_blue.png');">
            <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
              <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Darwinview for Recruiters</h3>
              <ul class="d-flex list-unstyled mt-auto">
                <li class="me-auto">
                  <img src="https://play-lh.googleusercontent.com/B88BIRfLaHsR4FY97MOs7l4rEfpgXnUMlqc1DUzaoBI0nLmADRNYTkBtnyo0mlC5hfE" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
                </li>
                <li class="d-flex align-items-center me-3">
                  <i class="bi bi-fire"></i> &nbsp;Trending
                </li>
              </ul>
            </div>
          </div>
          </a>
        </div>
  
        <div class="col widget">
          <a href="#" style="text-decoration: none;">
          <div class="card card-cover h-100 overflow-hidden rounded-4 shadow hover-effect" style="background-image: url('assets/candy_peach.png');">
            <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
              <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Darwinview Assessments</h3>
              <ul class="d-flex list-unstyled mt-auto">
                <li class="me-auto">
                  <img src="https://play-lh.googleusercontent.com/B88BIRfLaHsR4FY97MOs7l4rEfpgXnUMlqc1DUzaoBI0nLmADRNYTkBtnyo0mlC5hfE" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
                </li>
                <li class="d-flex align-items-center me-3">
                  <i class="bi bi-fire"></i> &nbsp;Trending
                </li>
              </ul>
            </div>
          </div>
          </a>
        </div>
  
        <div class="col widget">
          <a href="https://darwinbox.com/" style="text-decoration: none;">
          <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg hover-effect" style="background-image: url('assets/signal_blue.png');">
            <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
              <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Darwinbox</h3>
              <ul class="d-flex list-unstyled mt-auto">
                <li class="me-auto">
                  <img src="https://play-lh.googleusercontent.com/B88BIRfLaHsR4FY97MOs7l4rEfpgXnUMlqc1DUzaoBI0nLmADRNYTkBtnyo0mlC5hfE" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
                </li>
                <li class="d-flex align-items-center me-3">
                  <i class="bi bi-magic"></i> &nbsp;Top in Tech

                </li>

              </ul>
            </div>
          </div>
        </a>
        </div>
      </div>
    </div>

    
    <!--============================= Also Visit Ends ================================-->


    <!-- Footer Section -->
    <footer class="footer rounded-top-4">
        <div class="container text-center">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item"><a href="Candidate_Home" class="nav-link px-2 text-body-secondary"><span style="color:white">Home</span></a></li>
                <li class="nav-item"><a href="Candidate_Home#features_area" class="nav-link px-2 text-body-secondary"><span style="color:white">Features</span></a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary"><span style="color:white">Pricing</span></a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary"><span style="color:white">FAQs</span></a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary"><span style="color:white">About</span></a></li>
            </ul>
            <p class="text-center text-body-secondary"><span style="color:white">&copy; 2024 Darwinview, Inc</p>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <script>
        var TxtType = function(el, toRotate, period) {
          this.toRotate = toRotate;
          this.el = el;
          this.loopNum = 0;
          this.period = parseInt(period, 10) || 2000;
          this.txt = '';
          this.tick();
          this.isDeleting = false;
      };

      TxtType.prototype.tick = function() {
          var i = this.loopNum % this.toRotate.length;
          var fullTxt = this.toRotate[i];

          if (this.isDeleting) {
          this.txt = fullTxt.substring(0, this.txt.length - 1);
          } else {
          this.txt = fullTxt.substring(0, this.txt.length + 1);
          }

          this.el.innerHTML = '<span class="wrap">'+this.txt+'</span>';

          var that = this;
          var delta = 200 - Math.random() * 100;

          if (this.isDeleting) { delta /= 2; }

          if (!this.isDeleting && this.txt === fullTxt) {
          delta = this.period;
          this.isDeleting = true;
          } else if (this.isDeleting && this.txt === '') {
          this.isDeleting = false;
          this.loopNum++;
          delta = 500;
          }

          setTimeout(function() {
          that.tick();
          }, delta);
      };

      window.onload = function() {
          var elements = document.getElementsByClassName('typewrite');
          for (var i=0; i<elements.length; i++) {
              var toRotate = elements[i].getAttribute('data-type');
              var period = elements[i].getAttribute('data-period');
              if (toRotate) {
                new TxtType(elements[i], JSON.parse(toRotate), period);
              }
          }
          // INJECT CSS
          var css = document.createElement("style");
          css.type = "text/css";
          css.innerHTML = ".typewrite > .wrap { border-right: 0.08em  #0183ff}";
          document.body.appendChild(css);
      };
 
    </script>
    <script>
      ScrollReveal().reveal('.widget', { interval: 200 });
    </script>
  </body>
</html>
