<!DOCTYPE html>
<html>
<head>
  <script src="https://unpkg.com/scrollreveal@4"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    
    <style>
      html.sr .load-hidden {
        visibility: hidden;
      }
        html {
            position: relative;
            min-height: 100%;
        }
        body {
            margin: 0;
            padding-bottom: 100px; /* Height of the footer */
            background-color: #edf6ff;
        }
        footer.footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            background-color: #001035;
            color: white;
            padding: 20px 0;
        }
        .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        width: 100%;
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }

      .btn-bd-primary {
        --bd-violet-bg: #712cf9;
        --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

        --bs-btn-font-weight: 600;
        --bs-btn-color: var(--bs-white);
        --bs-btn-bg: var(--bd-violet-bg);
        --bs-btn-border-color: var(--bd-violet-bg);
        --bs-btn-hover-color: var(--bs-white);
        --bs-btn-hover-bg: #6528e0;
        --bs-btn-hover-border-color: #6528e0;
        --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
        --bs-btn-active-color: var(--bs-btn-hover-color);
        --bs-btn-active-bg: #5a23c8;
        --bs-btn-active-border-color: #5a23c8;
      }

      .bd-mode-toggle {
        z-index: 1500;
      }

      .bd-mode-toggle .dropdown-menu .active .bi {
        display: block !important;
      }
      .scroll-container::-webkit-scrollbar {
        width: 0;  /* Hide scrollbar */
      }

      .scroll-container::-webkit-scrollbar-track {
        background: transparent;  /* Hide scrollbar track */
      }
          /* extension */
          html.sr .widget {
      visibility: hidden;
      }
    </style>
</head>
<body>


  <!--============= Navigation Section ===========================-->

  <header class="p-3 mb-3 border-bottom shadow-sm sticky-top" style="background-color: white;" >
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center ">
          <a href="Candidate_Home" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">

              <img src="assets/home_logo.png" style="height: 45px; " >

          </a>
  
          <ul class="nav nav-underline col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0" >
            <li><a href="Candidate_Dashboard" class="nav-link px-2 link-body-emphasis" >Dashboard</a></li>
            <li><a href="Candidate_Log" class="nav-link px-2 link-body-emphasis active">Interview Log</a></li>
            <li><a href="#" class="nav-link px-2 link-body-emphasis">Prepare</a></li>
            <li><a href="#" class="nav-link px-2 link-body-emphasis">Smart Features</a></li>
          </ul>
  
          <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
            <button type="button" style="background-color: white; color: #0183ff; border: none;" class=" shadow btn btn-primary position-relative rounded-circle">
              <i class="bi bi-bell"></i>
              </span>
            </button>          
          </form>
  
          <div class="dropdown text-end">
            <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="assets/db_icon.png" alt="mdo" width="32" height="32" class="rounded-circle">
            </a>
            <ul class="dropdown-menu text-small">
              <li><a class="dropdown-item" href="/Candidate_Profile">Profile</a></li>
              <li><a class="dropdown-item" href="#">Settings</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/logout">Sign out</a></li>
            </ul>
          </div>
        </div>
      </div>
    </header>

    <!--============= Navigation Section Ends ===========================-->




    <!--======================= Interview Log Area Starts ============================-->

  
  <main>
    
  
    <div class="d-flex flex-row mb-3 justify-content-between" style="background-color: #edf6ff;">
        <div class="p-2"></div>
        <div class="p-2">

            <div class="d-flex flex-row mb-3">
                <div class="p-2">

                        <img src="assets/evolve_blue.png" class="card-img-top" alt="..." style="height: 200px; width: 210px;">
                    
                </div>
                <div class="p-3">
                    
                    <div class="col-lg-6 col-md-8 mx-auto text-center">


                        <h1 class="fw-light">Hello,

                          <svg width="350" height="62">
                            <defs>
                              <linearGradient id="gradient" x1="0%" y1="0%" x2="100%" y2="0%">
                                <stop offset="0%" style="stop-color:#4285f4" />
                                <stop offset="50%" style="stop-color:#9b72cb" />
                                <stop offset="100%" style="stop-color:#d96570" />
                              </linearGradient>
                            </defs>
                            <text x="10" y="40" font-family="Arial" font-size="40" fill="url(#gradient)"><%= Candidate_details.Name %></text>
                          </svg>

                        </h1>

                        <p class="lead text-body-secondary">Here you will find the upcoming interviews assigned to you by the recruiter. Follow up here to catch the updates early.</p>
                        <p>
                            <a href="Candidate_Dashboard" class="btn btn-secondary my-2 rounded-5" style="background-color: #edf6ff; color: grey;">Dashboard View</a>
                        </p>

                    </div>


                </div>

            </div>

        </div>
        <div class="p-2"></div>
    </div>


    

      <div class="d-flex justify-content-center mb-3 " style="background-color: white;">
        <div class="p-2">

          <div class="d-flex flex-row mb-3 ">
            <form action="/Log_Filter" method="POST">
            <div class="p-2" style="min-width: 400px;">

              <form action="/Log_Filter" method="POST">

                <div class="row">
                  <div class="col-sm-5">
                    <select class="form-select" name="Month">
                      <option selected value=<%= Candidate_currentMonthName %> ><%= Candidate_currentMonthName %></option>
                      <option value="January">January</option>
                      <option value="February">February</option>
                      <option value="March">March</option>
                      <option value="April">April</option>
                      <option value="May">May</option>
                      <option value="June">June</option>
                      <option value="July">July</option>
                      <option value="August">August</option>
                      <option value="September">September</option>
                      <option value="October">October</option>
                      <option value="November">November</option>
                      <option value="December">December</option>
                      </select>
                  </div>
                  <div class="col-sm-5">
                    <select class="form-select" name="Year">
                      <option selected value= <%= Candidate_currentYear %> ><%= Candidate_currentYear %></option>
        
                      <option value="2023">2023</option>
                      <option value="2024">2024</option>
                      <option value="2025">2025</option>
        
                    </select>
                  </div>
                  <div class="col-sm">
                    <button  type= "submit" class="btn btn-sm" style="background-color: #0183ff; color: white;"> <i class="bi bi-search"></i></button>
                  </div>
                </div>
              </form>

            </div>
            <div>
              <button type="button" class="btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Search interviews scheduled on desired date.">
                <i class="bi bi-question-circle"></i>
              </button>
            </div>
          <div>
        </div>
      </div>
        <!--========================== Interview Log Starts Here ==========================================-->

        <div class="d-flex flex-column mb-5  scroll-container widget-list" >



          <div class="p-2" id="InterviewLog">
            <% var LogCount=0 %>
            <% result.forEach((data) => { 
              temp = data;
              temp = temp.Details.Interview_Date;
              if (parseInt(temp.substring(5, 7)) == Candidate_currentMonth && parseInt(temp.substring(0, 4)) == Candidate_currentYear) { %>
                
                  <% LogCount+=1; %>
                  <!--================================ Data Per Month & Year =============================-->
          
                  <!-- Interview Details -->
                  <div class="card shadow-sm widget" style="width:57rem; ">
                      <div class="card-header text-center" style="background: linear-gradient(93.28deg, rgba(181, 226, 227, 0.6) 2.71%, rgba(181, 226, 227, 0.2) 112.7%);">
                           <%= data.Details.Interview_Title %>
                      </div>
                      <div class="card-body" style="background: linear-gradient(93.28deg, rgba(181, 226, 227, 0.6) 2.71%, rgba(181, 226, 227, 0.2) 112.7%);">
                        
                          <b>Interview ID:</b> <%= data.InterviewID %>
                          <br>
                          <h5 class="card-title mt-2">Hi <%=Candidate_details.Name%>,</h5>
                          <p class="card-text">Thank you for applying to the position <b> <%= data.Details.Role %> </b>. Here are the details attached for more brief about the interview, hope this finds you well.</p>
          
                          <div class="d-flex fw-light flex-row mb-3 justify-content-around">
                              <div class="p-3 shadow-sm rounded-4"><p class="card-text"><b><i class="bi bi-person"></i> Recruiter:</b> <%= data.RecruiterName%></p></div>
                              <div class="p-3 shadow rounded-4" style="background-color: white;"><p class="card-text"><b><i class="bi bi-calendar-check"></i> Interview Date:</b> <%= data.Details.Interview_Date %></p></div>
                          </div>
                          <div class="d-flex flex-row mb-3 fw-light justify-content-around">
                              <div class="p-3 shadow rounded-4" style="background-color: white;"><p class="card-text"><b><i class="bi bi-clock-history"></i> Interview Time:</b> <%= data.Details.Interview_Start %> - <%= data.Details.Interview_End %></p></div>
                              <div class="p-3 shadow-sm rounded-4"><p class="card-text"><b><i class="bi bi-camera-video"></i> Mode of Interview:</b> Darwinview</p></div>
                          </div>

                  
                          <% if(!data.Result) { %>
                          <div class="p-3 rounded-4">
                              <% if(data.Details.Interview_Link!="Link Expired") { %>
                                <p class="card-text"><b><i class="bi bi-link-45deg"></i> Interview Link:</b>

                                <div class="input-group flex-nowrap">
                                  <input type="text" class="form-control" style="background-color: white;" id="textToCopy<%=data.InterviewID%>" placeholder=<%= data.Details.Interview_Link %> value=<%= data.Details.Interview_Link %> disabled>
                                  <span class="input-group-text" id="addon-wrapping" style="background-color: whitesmoke;"><button class="btn" onclick="copyToClipboard('<%=data.InterviewID%>')"><i class="bi bi-copy"></i></button></span>
                                </div>
                              </p>
                              <% } %>
                           
                          </div>

                          <script>
                            function copyToClipboard(IID) {
                              var textToCopy = document.getElementById("textToCopy"+IID).value;
                              var tempInput = document.createElement("textarea");
                              tempInput.style = "position: absolute; left: -1000px; top: -1000px";
                              tempInput.value = textToCopy;
                              document.body.appendChild(tempInput);
                              tempInput.select();
                              document.execCommand("copy");
                              document.body.removeChild(tempInput);
                            }
                          </script>
                        <% } %>
 
                  <% if(data.Result) { %>
                  <!----------------- Interview Results Starts ------------------------------>

                  <div class="accordion accordion-flush" id="Interview_Results<%= data.InterviewID %>">

                    <div class="accordion-item">
                      <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#inner<%= data.InterviewID %>" aria-expanded="false" aria-controls="flush-collapseOne<%= data.InterviewID %>">
                          <i class="bi bi-clipboard-data"></i> &nbsp;Interiew Results
                        </button>
                      </h2>

                      <div id="inner<%= data.InterviewID %>" class="accordion-collapse collapse" data-bs-parent="#Interview_Results<%= data.InterviewID %>">
                        <div class="accordion-body" style="background-color: #edf6ff;">

                          <div class="d-flex flex-row-reverse">

                            <div class="p-2"><button type="button" class="btn rounded-4 border btn-sm fw-light"><i class="bi bi-download"></i> &nbsp; Download Report</button></div>

                          </div>
                          <br>

                          <div class="d-flex flex-row mb-3 justify-content-between">
                            <div class="text-center shadow-sm  rounded-4 p-3 border-bottom border-info" style="background-color: white;">Confidence Rate</span> <br><span style="color: #0183ff;"><%= data.PreResult.Confidence %>% </span> </div>
                            <div class="text-center shadow-sm  rounded-4 p-3  border-bottom border-info" style="background-color: white;">Relevance Rate</span> <br><span style="color: #0183ff;"><%= data.PreResult.Relevance %>% </span> </div>
                            <div class="text-center shadow-sm  rounded-4 p-3  border-bottom border-info" style="background-color: white;">Communicational Rate</span> <br><span style="color: #0183ff;"><%= data.PreResult.Communication %>% </span> </div>
                            <div class="text-center shadow-sm  rounded-4 p-3 border-bottom  border-success" style="background-color: white;">Overall score</span> <br><span style="color: #0183ff;"><%= data.PreResult.Growth %>% </span> </div>

                          </div>
                          <br>
                          <div class="alert alert-info text-center" role="alert">
                            <i class="bi bi-magic"></i> Technical Recommendations
                          </div>
                          <div class="accordion accordion-flush" id="Recommended_Technologies<%= data.InterviewID %>">
                            <div class="accordion-item">
                              <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#Recommended_Technologies_inner<%= data.InterviewID %>" aria-expanded="false" aria-controls="flush-collapseOne<%= data.InterviewID %>">
                                  <i class="bi bi-hdd-network"></i>&nbsp; Technologies
                                </button>
                              </h2>
                              <div id="Recommended_Technologies_inner<%= data.InterviewID %>" class="accordion-collapse collapse" data-bs-parent="#Recommended_Technologies<%= data.InterviewID %>">
                                <div class="accordion-body">

                                  <%= data.PreResult.AIRecommendation.Technologies %>

                                </div>
                              </div>
                            </div>
                            <div class="accordion-item">
                              <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#Recommended_TechnologiesTwo<%= data.InterviewID %>" aria-expanded="false" aria-controls="flush-collapseTwo">
                                  <i class="bi bi-code-slash"></i>&nbsp; Frameworks
                                </button>
                              </h2>
                              <div id="Recommended_TechnologiesTwo<%= data.InterviewID %>" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample<%= data.InterviewID%>">
                                <div class="accordion-body">

                                  <%= data.PreResult.AIRecommendation.Framework %>


                                </div>
                              </div>
                            </div>
                            <div class="accordion-item">
                              <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#Recommended_TechnologiesThree<%= data.InterviewID %>" aria-expanded="false" aria-controls="flush-collapseThree">
                                  <i class="bi bi-collection"></i> &nbsp; Topics
                                </button>
                              </h2>
                              <div id="Recommended_TechnologiesThree<%= data.InterviewID %>" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample<%= data.InterviewID%>">
                                <div class="accordion-body">

                                  <%= data.PreResult.AIRecommendation.Topics %>

                                </div>
                              </div>
                            </div>
                          </div>
                          <br>
                          <!--feedback area starts-->
                          <div class="alert alert-info text-center" role="alert">
                            <i class="bi bi-chat-left-text"></i> Additional Feedbacks
                          </div>

                          <div class="accordion accordion-flush" id="accordionFlushExample<%= data.InterviewID%>">
                            <div class="accordion-item">
                              <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne<%= data.InterviewID %>" aria-expanded="false" aria-controls="flush-collapseOne<%= data.InterviewID %>">
                                  From Darwinview AI
                                </button>
                              </h2>
                              <div id="flush-collapseOne<%= data.InterviewID %>" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample<%= data.InterviewID%>">
                                <div class="accordion-body">
                                  <%=  data.PreResult.AIFeedback %>
                                </div>
                              </div>
                            </div>
                            <div class="accordion-item">
                              <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo<%= data.InterviewID %>" aria-expanded="false" aria-controls="flush-collapseTwo">
                                  From Recruiter
                                </button>
                              </h2>
                              <div id="flush-collapseTwo<%= data.InterviewID %>" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample<%= data.InterviewID%>">
                                <div class="accordion-body">
                                  <%= data.Result.RecruiterFeedback %>
                                </div>
                              </div>
                            </div>

                          </div>
                          <!--feedback area Ends-->


                          <br>
                          <!-- Candidate resuls starts--->
                          <% if (data.Result.Selection == "Selected") { %>
                            <div class="alert alert-success text-center" role="alert">
                              <i class="bi bi-check2-circle"></i> Congratulations! You are Selected 
                            </div>
                          <% } else if (data.Result.Selection == "Pending") { %>
                            <div class="alert alert-warning text-center" role="alert">
                              <i class="bi bi-clock-history"></i> Under Pending
                            </div>
                          <% } else { %>
                            <div class="alert alert-danger text-center" role="alert">
                              <i class="bi bi-ban"></i> No longer under consideration
                            </div>
                          <% } %>
                          <!-- Candidate resuls Ends--->

                        </div>
                      </div>

                    </div>

                  </div>
                  <!------------------------------ Interview results ends Here ---------------------------->
                  <% } else { %>
                    <div class="alert alert-success" role="alert">
                      <i class="bi bi-clock-history"></i> Interview Evaluation is not undertaken !
                    </div>
                <% } %>
          
                    </div>
                    <div class="card-footer text-body-secondary text-center" style="background-color: #fff4f4;">
                      <% if ( data.Details.Interview_Date == Candidate_formattedDate ) { %>
                        Attend Interview Today
                    <% } else { %>
                      <%= data.status %>
                    <%  } %>
                    
                    </div>
                </div>
                <br>
              
          
              <% } %>
          
          <% }); %>
          <% if(LogCount===0) { %>

            <div class="card" style="width: 28rem; border: none;">
              <img src="assets/not_found.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text text-center">No Interviews Found !</p>
              </div>
            </div>

          <% } %>
          
                       <!--================================ Data Per Month & Year =============================-->

          </div>

          

        </div>

        <!--========================== Interview Log Ends Here ==========================================-->

         
      </div>
      <div class="p-2"></div>
    </div>



  

    
        

  </main>

    <!--======================= Interview Log Area  Ends ============================-->




    <!-- Footer Section -->
    <footer class="footer rounded-top-4">
        <div class="container text-center">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary"><span style="color:white">Home</span></a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary"><span style="color:white">Features</span></a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary"><span style="color:white">Pricing</span></a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary"><span style="color:white">FAQs</span></a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary"><span style="color:white">About</span></a></li>
            </ul>
            <p class="text-center text-body-secondary"><span style="color:white">&copy; 2024 Darwinview, Inc</p>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <script>
      var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
      var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
          return new bootstrap.Tooltip(tooltipTriggerEl)
      });
    </script>
    <script>
      ScrollReveal().reveal('.widget', { interval: 300 });
    </script>
  </body>
</html>
